---
layout: default
title: 
description: мы знаем какие ювелирные украшения нравятся вашим любимым и друзьям
---

.header
  .web-adress Lavkazoloto.ru
  %a.btn.btn-success.request-form-link{ :href => "#request" } Сделать заказ

%section.screen
  .screen__content
    %h1.screen__title
      Ювелирные украшения в подарок на 14 февраля
    %p.screen__text
      Мы опросили более 100 девушек, чтобы узнать, <br>
      что им действительно хочется получить в подарок. <br>
      Они выбрали 9 этих изделий

%section.store-item-list

  %article.store-item
    .store-item__image-cont
      %a.store-item__image-link{ :href => "assets/images/product/p1.jpg", "data-lightbox" => "p1" }
        %img.store-item__image{ :src => "assets/images/product/p1_preview.png" }
    .store-item__content
      %h1.store-item__title Кольцо с топазом, цитрином, перидотом, аметистом
      %p.store-item__text
        общий вес 9.82 грамма, серебро 925 пробы, вставки: топаз, цитрин, перидот, аметист
      %p.store-item__price 2100 р.

  %article.store-item
    .store-item__image-cont
      %a.store-item__image-link{ :href => "assets/images/product/p2.jpg", "data-lightbox" => "p2" }
        %img.store-item__image{ :src => "assets/images/product/p2_preview.png" }
      %a.store-item__image-link_blank{ :href => "assets/images/product/p2_1.jpg", "data-lightbox" => "p2" }
      %a.store-item__image-link_blank{ :href => "assets/images/product/p2_2.jpg", "data-lightbox" => "p2" }
    .store-item__content
      %h1.store-item__title Подвеска «Сердце» с фианитами из красного золота
      %p.store-item__text
        общий вес 0.88 грамм, красное золото 585 пробы, вставки: 4 фианита вес 0.09 карат
      %p.store-item__price 2900 р.

  %article.store-item
    .store-item__image-cont
      %a.store-item__image-link{ :href => "assets/images/product/p3.jpg", "data-lightbox" => "p3" }
        %img.store-item__image{ :src => "assets/images/product/p3_preview.png" }
    .store-item__content
      %h1.store-item__title Серьги с цирконами из серебра
      %p.store-item__text
        вес 3.54 грамма, серебро 925 пробы, <br>
        вставка: цирконий 
      %p.store-item__price 1600 р.

  %article.store-item
    .store-item__image-cont
      %a.store-item__image-link{ :href => "assets/images/product/p4.jpg", "data-lightbox" => "p4" }
        %img.store-item__image{ :src => "assets/images/product/p4_preview.png" }
    .store-item__content
      %h1.store-item__title Кольцо из белого золота 585 пробы с 7 фианитами
      %p.store-item__text
        общий вес 1.89 грамм, белое золото 585 пробы, <br>
        вставки: 1 фианит 0.2 карата + 6 фиантов 0.26 карат
      %p.store-item__price 4400 р.

  %article.store-item
    .store-item__image-cont
      %a.store-item__image-link{ :href => "assets/images/product/p5.jpg", "data-lightbox" => "p5" }
        %img.store-item__image{ :src => "assets/images/product/p5_preview.png" }
    .store-item__content
      %h1.store-item__title Серьги с жемчугом из серебра
      %p.store-item__text
        общий вес 6.98 грамм, серебро 925 пробы, вставка: жемчуг
      %p.store-item__price 2400 р.

  %article.store-item
    .store-item__image-cont
      %a.store-item__image-link{ :href => "assets/images/product/p6.jpg", "data-lightbox" => "p6" }
        %img.store-item__image{ :src => "assets/images/product/p6_preview.png" }
    .store-item__content
      %h1.store-item__title Подвеска с бриллантом из белого золота
      %p.store-item__text
        вес 0.73 грамм, белое золото 585 пробы,  вставка: бриллиант, вес 0.01 карат
      %p.store-item__price 4200 р.

  %article.store-item
    .store-item__image-cont
      %a.store-item__image-link{ :href => "assets/images/product/p7.jpg", "data-lightbox" => "p7" }
        %img.store-item__image{ :src => "assets/images/product/p7_preview.png" }
      %a.store-item__image-link_blank{ :href => "assets/images/product/p7_1.jpg", "data-lightbox" => "p7" }
      %a.store-item__image-link_blank{ :href => "assets/images/product/p7_2.jpg", "data-lightbox" => "p7" }
    .store-item__content
      %h1.store-item__title Подвеска «Сердце» из белого золота
      %p.store-item__text
        общий вес 0.76 грамм, белое золото 585 пробы
      %p.store-item__price 4400 р.

  %article.store-item
    .store-item__image-cont
      %a.store-item__image-link{ :href => "assets/images/product/p8.jpg", "data-lightbox" => "p8" }
        %img.store-item__image{ :src => "assets/images/product/p8_preview.png" }
      %a.store-item__image-link_blank{ :href => "assets/images/product/p8_1.jpg", "data-lightbox" => "p8" }
    .store-item__content
      %h1.store-item__title Подвеска «Ключик» из белого золота с фианитами
      %p.store-item__text
        вес 0.53 грамм, белое золото 585 пробы, вставка: 9 фианитов вес 0.14 карат
      %p.store-item__price 2100 р.

  %article.store-item
    .store-item__image-cont
      %a.store-item__image-link{ :href => "assets/images/product/p9.jpg", "data-lightbox" => "p9" }
        %img.store-item__image{ :src => "assets/images/product/p9_preview.png" }
    .store-item__content
      %h1.store-item__title Подвеска с бриллантом из белого золота
      %p.store-item__text
        вес 0.49 грамм, белое золото 585 пробы,  вставка: сапфир, вес 0.07 карат
      %p.store-item__price 2900 р.

%a{ :name => "request" }
%section.request
  %h1.request__title Готов сделать отличный подарок?
  %p.request__text
    Закажи изделие сейчас и мы привезем его <br>
    в течение 48 часов или сделаем скидку, <br>
    если не успеем
  %form.request__form{ :action => "contact.php", :role => "request-form" }
    .form-group
      %input.form-control.request__form__control{ :name => "name", :placeholder => "Ваше имя" }
    .form-group
      %input.form-control.request__form__control{ :name => "contact", :placeholder => "Телефон или email" }
    .form-group.text-center
      %button.btn.btn-primary.request__form__submit{ :type => "submit" } Перезвони мне!
    .request__message{ :role => "form-messages" }

%footer.footer
  .footer__address lavkazoloto.ru
  .footer__contact
    2me@enjoy-it.ru<br>
    +7 (960) 233-03-01
  .footer__hint КАРАТ— (от итал. carato, от др.-греч. κεράτιον (сerátion) — стручок рожкового дерева (Ceratonia siliqua), семена которого служили мерой массы) — единица измерения массы и объёма, а также мера чистоты золота
  .footer__social
    %a.footer__social__vk{ :href => "http://vk.com/club86871690", :target => "_blank" }
    .footer__social__vk-buttons
      .footer__social__vk-like
        <div id="vk_like"></div>
        <script type="text/javascript">VK.Widgets.Like("vk_like", {type: "button"});</script>
      .footer__social__vk-share
        - html = "<script type=\"text/javascript\"><!--"
        = html
        - html = "document.write(VK.Share.button(false,{type: \"round\", text: \"Сохранить\"}));"
        = html
        - html = "--></script>"
        = html
